<h1>About Me</h1>
<p>My name is {{name}}. I have skills in HTML, CSS, and JavaScript. In my spare time, I thrive on challenges and
    continuously seek opportunities for growth in the ever-evolving tech landscape.</p>