<html>

<head>
  <meta charset="utf-8" />
  <title>{{pageTitle}}</title>
  <title>Abhishek Portfolio</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
</head>

<body id="top">
  <div id="header">
    <div class="container">
      <div class="hdr">
        <div class="logo">
          <a href="index.html">
            <h1><img src="images/logo.png" />Portfolio</h1>
          </a>
        </div>
        <!-- logo close -->

        <div class="nav">
          <ul>
            <li class="fl"><a href="index.html">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
        <!-- nav close -->
      </div>
    </div>
  </div>
  <!-- header close -->

  <div id="banner">
    {{!-- <img src="images/myself.png" alt=""> --}}
    <div class="container">
      <h1>Hi, I am Abhishek Sihag.</h1>
      <div class="animated-text">
        Experienced <span></span>
      </div>
    </div>
  </div>
  <!-- banner close -->

  <div id="about">
    <div class="container">
      <h1 align="center">ABOUT ME</h1>
      <div class="abo">
        <div class="ab">
          <img src="images/about.png" />
        </div>
        <!-- 1st div close -->

        <div class="ab">
          <h2>Student and Developer</h2>
          <p>
            I am a Computer Programming student at Georgian College, dedicated to acquiring new skills while also honing
            my existing abilities. I thrive on challenges and continuously seek opportunities for growth in the
            ever-evolving tech landscape.

          </p>
          <br /><br />
          <a href="#contact">Hire Me</a>
          <a href="#">View More</a>
        </div>
        <!-- 2nd div close -->
      </div>
    </div>
  </div>
  <!-- about close -->

  <div id="projects">
    <div class="container">
      <h1>MY PROJECTS</h1>
      <div class="pro">
        <div class="pr">
          <div class="prod">
            <img src="images/1.png" alt="" />
          </div>
          <h3>Project 1</h3>
          <p>
            Ecommerce Website
          </p>
        </div>
        <div class="pr">
          <div class="prod">
            <img src="images/2.png" alt="" />
          </div>
          <h3>Project 2</h3>
          <p>
            Business Website
          </p>
        </div>
        <div class="pr pr1">
          <div class="prod">
            <img src="images/3.png" alt="" />
          </div>
          <h3>Project 3</h3>
          <p>
            Gaming Website
          </p>
        </div>
        <div class="pr pr1">
          <div class="prod">
            <img src="images/4.png" alt="" />
          </div>
          <h3>Project 4</h3>
          <p>
            Startup Website
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- projects div close -->

  <div id="contact">
    <div class="container">
      <h1>CONTACT ME</h1>
      <div class="cont">
        <div class="con">
          <img src="images/contact.png" />
        </div>
        <div class="con">
          <form action="index.html" method="post">
            <input type="text" placeholder="Enter your name" required minlength="2" /><br /><br />
            <input type="email" placeholder="Enter your email" required /><br /><br />
            <input type="tel" placeholder="Enter your phone no" required maxlength="10" minlength="10"
              pattern="^[0-9]+$" /><br /><br />
            <textarea placeholder="Enter your message" rows="6"></textarea><br /><br />
            <button type="submit">SEND</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- contact div close -->

  <div id="footer">
    <div class="container">
      <div class="foot">
        <div class="ft">
          <h3>We Care</h3>
          <p>
            I am a Computer Programming student at Georgian College, dedicated to acquiring new skills while also honing
            my existing abilities. I thrive on challenges and continuously seek opportunities for growth in the
            ever-evolving tech landscape.
          </p>
        </div>
        <div class="ft ft1">
          <h3>Contact Me</h3>
          <p>+123 456 7890</p>
          <p>www.abhisheksihag.com</p>
        </div>
        <div class="ft ft2">
          <h3>Timings</h3>
          <ul class="ful1">
            <li>Monday</li>
            <li>Tuesday</li>
            <li>Wednesday</li>
            <li>Thursday</li>
            <li>Friday</li>
            <li>Saturday</li>
          </ul>
          <ul class="ful2">
            <li>10:00 AM - 6:00 PM</li>
            <li>10:00 AM - 6:00 PM</li>
            <li>10:00 AM - 6:00 PM</li>
            <li>10:00 AM - 6:00 PM</li>
            <li>10:00 AM - 6:00 PM</li>
            <li>10:00 AM - 5:00 PM</li>
          </ul>
        </div>
        <div class="ft ft3">
          <h3>Social</h3>
          <a href="https://www.facebook.com/" target="_blank"><img src="images/fb.png" /></a>
          <a href="https://twitter.com/" target="_blank"><img src="images/tw.png" /></a>
          <a href="https://www.instagram.com/" target="_blank"><img src="images/ins.png" /></a>
        </div>
      </div>
    </div>
  </div>
  <!-- footer close -->

  <style>
    .top {
      background-color: orange;
      padding: 10px;
      position: fixed;
      right: 1%;
      bottom: 1%;
      border-radius: 3px;
      animation: action 1s infinite alternate;
    }

    @keyframes action {
      0% {
        transform: translateY(0);
      }

      100% {
        transform: translateY(-15px);
      }
    }

    .top img {
      height: 30px;
    }
  </style>
  <a href="#top" class="top"><img src="images/up-arrow.png" alt="" /></a>
</body>
<footer>
  <p>&copy; Abhishek</p>
  <p>Find me on:
    <a href="https://github.com/Sihag3126">GitHub</a>
    |
    <a href="https://www.linkedin.com">LinkedIn</a>
  </p>
</footer>
</body>

</html>